@tailwind base;
@tailwind components;
@tailwind utilities;

.flip-container {
  perspective: 1000px;
}

.flip {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip:hover {
  transform: rotateY(180deg);
}

.flip-front,
.flip-back {
  position: absolute;
  backface-visibility: hidden;
}

.flip-back {
  transform: rotateY(180deg);
}